<h2>users/index template</h2>

<table>
  <thead>
    <tr>
      <th>Total Users: {{model.length}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |user|}}
      <tr>
        <td>{{link-to user.name "users.show" user}}</td>
        <td><a href="#" {{action "delete" user}}>Delete user</a></td>
      </tr>
    {{/each}}
    <tr>
      <td>{{link-to "New User" "users.new"}}</td>
    </tr>
  </tbody>
</table>
