<form>
  <h4>{{errorMessage}}</h4>
  <fieldset>
    {{input value=model.keyword placeholder='keyword'}}
    <button {{action "save"}} class="primary">Save</button>
    <button {{action "cancel"}}>Cancel</button>
  </fieldset>
</form>
