<h2>index template</h2>

<!-- <h4>
  {{#if session.isAuthenticated}}
    <a {{ action 'invalidateSession' }}>Logout</a>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</h4> -->

<!-- <h4>
  {{link-to "Users Index" 'users'}}
</h4> -->

<!-- <h4>
  {{link-to model.name "vutes" model}}
</h4> -->
